.chats {
  width: 100%;
  flex: 1;
  margin-top: 0.5rem;
  overflow-y: auto;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--dark-grey);
  border-radius: 20px;
}
