.searchbar {
  width: 90%;
  background-color: var(--dark-grey);
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  margin-top: 0.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  padding: 0 1rem;
}

.searchinput {
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
  margin-left: 1rem;
  color: var(--light-grey);
  font-size: 16px;
}
.hide {
  display: none !important;
}
