/* :root {
  --dark-grey: #2a2f32;
  --light-grey: #b1b3b5;
  --dark-green: #131c21;
} */

.dark-theme {
  --app-background: #090d11;
  --body-background: #262d31;
  --dark-grey: #2a2f32;
  --light-grey: #b1b3b5;
  --lighter-grey: #2a3942;
  --dark-green: #131c21;
}

.light-theme {
  --app-background: #577ea8;
  --body-background: #f8f398;
  --dark-grey: #f4f9f9;
  --light-grey: #000000;
  --lighter-grey: #646365;
  --dark-green: #d3d3d3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
